<a href="https://colab.research.google.com/github/nasim-fani/datamining-classification/blob/main/classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.7/dist-packages (1.1.2)

In [ ]:
import pandas as pd
from apyori import apriori

In [ ]:
get_ipython().system_raw("unrar x /content/drive/MyDrive/datasets/divar_dataset.rar")
get_ipython().system_raw("unrar x /content/drive/MyDrive/digikala_dataset.rar")

In [ ]:
digi_product = pd.read_excel (r'/content/product.xlsx')
digi_product.head()

       id  ...                                 product_attributes
0  723302  ...  [{"Key":"وزن بسته‌بندی","Value":"480"},{"Key":...
1  727089  ...  [{"Key":"دستگیره","Value":"1 جفت"},{"Key":"نوع...
2  727096  ...  [{"Key":"حجم","Value":"50"},{"Key":"نوع عصاره"...
3  727803  ...  [{"Key":"ابعاد رو بالشی","Value":"50×70"},{"Ke...
4  725222  ...  [{"Key":"در","Value":"ندارد"},{"Key":"جنس","Va...

[5 rows x 10 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install unrar
!unrar x drive/MyDrive/divar_dataset.rar

Collecting unrar
  Downloading https://files.pythonhosted.org/packages/bb/0b/53130ccd483e3db8c8a460cb579bdb21b458d5494d67a261e1a5b273fbb9/unrar-0.4-py3-none-any.whl
Installing collected packages: unrar
Successfully installed unrar-0.4

UNRAR 5.50 freeware      Copyright (c) 1993-2017 Alexander Roshal


Extracting from drive/MyDrive/divar_dataset.rar

Powered By CamelCase.ir :)
Enjoy Programming Tutorial With CamelCase.ir .

Extracting  divar_posts_dataset.csv                                        7% 14% 21% 28% 35% 42% 49% 56% 64% 71% 78% 85% 92% 99%  OK
Extracting  camelcase.png                                                 99%  OK
All OK

In [ ]:
digi_keifiat = pd.read_excel (r'/content/keifiat.xlsx')
digi_keifiat.head()

   product_id  ...                                      disadvantages
0        3692  ...                                                NaN
1       90213  ...                                          ["ندارد"]
2       59473  ...                                                NaN
3      120499  ...  ["کیفیت پایین اسپیکر\r","حاشیه خالی زیر صفحه ن...
4       67200  ...                                    ["ظرفیت متوسط"]

[5 rows x 12 columns]

In [ ]:
divar_dataset = pd.read_csv("divar_posts_dataset.csv")
digikala_dataset = pd.read_csv("orders.csv")

In [ ]:
divar_dataset.head()

   Unnamed: 0  archive_by_user  ... type year
0           0            False  ...  NaN  NaN
1           1            False  ...  NaN  NaN
2           2            False  ...  NaN  NaN
3           3            False  ...  NaN  NaN
4           4            False  ...  NaN  NaN

[5 rows x 17 columns]

In [ ]:
digikala_dataset.head()

   ID_Order  ID_Customer  ...  city_name_fa Quantity_item
0   2714054       469662  ...    محمود آباد           1.0
1  11104039      3063877  ...        خرمدره           1.0
2   4228130      3184893  ...          قرچک           1.0
3  22225624      6888562  ...            قم           1.0
4   4068771      2533490  ...         تهران           1.0

[5 rows x 7 columns]

In [ ]:
divar_dataset['categories'] = divar_dataset['cat1']+" "+divar_dataset['cat2']+" "+divar_dataset['cat3']
divar_dataset.head()

   Unnamed: 0  ...                                         categories
0           0  ...  for-the-home furniture-and-home-decore sofa-ar...
1           1  ...  for-the-home furniture-and-home-decore antique...
2           2  ...                                vehicles cars heavy
3           3  ...  for-the-home furniture-and-home-decore sofa-ar...
4           4  ...               personal baby-and-toys personal-toys

[5 rows x 18 columns]

In [ ]:
pairs = divar_dataset[['city','categories']]
pairs = pairs.dropna()
list_of_pairs = []
for i in range(len(pairs)):
    list_of_pairs.append([str(pairs.values[i,j]) for j in range(0, 2)])
rules = apriori(list_of_pairs,min_support= 0.00001,min_confidence=0.2,min_lift=2,min_length=1)
for rule in rules:
  print(rule)

RelationRecord(items=frozenset({'for-the-home building-and-garden garden-and-patio', 'Mashhad'}), support=0.0006075059879969199, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home building-and-garden garden-and-patio'}), items_add=frozenset({'Mashhad'}), confidence=0.37983870967741934, lift=2.553626640637631)])
RelationRecord(items=frozenset({'Mashhad', 'leisure-hobbies animals fish'}), support=0.0005662316958187852, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals fish'}), items_add=frozenset({'Mashhad'}), confidence=0.3595413595413596, lift=2.4171691055806837)])
RelationRecord(items=frozenset({'Tehran', 'electronic-devices audio-video mp3-player'}), support=0.0011711580405545717, ordered_statistics=[OrderedStatistic(items_base=frozenset({'electronic-devices audio-video mp3-player'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'electronic-devices audio-video video-dvdplayer'}), support=0.0011040873157651028, ordered_statistics=[OrderedStatistic(items_base=frozenset({'electronic-devices audio-video video-dvdplayer'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'for-the-home building-and-garden bathroom-wc-sauna', 'Tehran'}), support=0.0014471798694958473, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home building-and-garden bathroom-wc-sauna'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'for-the-home utensils-and-appliances dishwasher'}), support=0.0014742661237377482, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home utensils-and-appliances dishwasher'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'for-the-home utility repair-tool'}), support=0.0004462782841760813, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home utility repair-tool'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies animals cat'}), support=0.0006087958096274867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals cat'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies animals rodents-rabbits'}), support=0.0006939240372448894, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals rodents-rabbits'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies hobby-collectibles coin-stamp'}), support=0.0005004507926598831, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies hobby-collectibles coin-stamp'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments drums-percussion'}), support=0.00045659685722061494, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments drums-percussion'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments guitar-bass-amplifier'}), support=0.0018147790342073595, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments guitar-bass-amplifier'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments piano-keyboard'}), support=0.0013659211067701448, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments piano-keyboard'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments traditional'}), support=0.0006087958096274867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments traditional'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure ball-sports'}), support=0.0010047710502114663, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure ball-sports'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure camping-outdoor'}), support=0.0008499924545434612, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure camping-outdoor'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure winter-sports'}), support=0.001568423102769118, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure winter-sports'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'personal baby-and-toys child-car-seat'}), support=0.0013981666475343126, ordered_statistics=[OrderedStatistic(items_base=frozenset({'personal baby-and-toys child-car-seat'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'personal jewelry-and-watches rhinestones'}), support=0.0008616008492185616, ordered_statistics=[OrderedStatistic(items_base=frozenset({'personal jewelry-and-watches rhinestones'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])

In [ ]:
pairs = pairs.dropna()

In [ ]:
list_of_pairs = []
for i in range(len(pairs)):
    list_of_pairs.append([str(pairs.values[i,j]) for j in range(0, 2)])

In [ ]:
rules = apriori(list_of_pairs,min_support= 0.00001,min_confidence=0.2,min_lift=2,min_length=1)

In [ ]:
for rule in rules:
  print(rule)

RelationRecord(items=frozenset({'for-the-home building-and-garden garden-and-patio', 'Mashhad'}), support=0.0006075059879969199, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home building-and-garden garden-and-patio'}), items_add=frozenset({'Mashhad'}), confidence=0.37983870967741934, lift=2.553626640637631)])
RelationRecord(items=frozenset({'Mashhad', 'leisure-hobbies animals fish'}), support=0.0005662316958187852, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals fish'}), items_add=frozenset({'Mashhad'}), confidence=0.3595413595413596, lift=2.4171691055806837)])
RelationRecord(items=frozenset({'Tehran', 'electronic-devices audio-video mp3-player'}), support=0.0011711580405545717, ordered_statistics=[OrderedStatistic(items_base=frozenset({'electronic-devices audio-video mp3-player'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'electronic-devices audio-video video-dvdplayer'}), support=0.0011040873157651028, ordered_statistics=[OrderedStatistic(items_base=frozenset({'electronic-devices audio-video video-dvdplayer'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'for-the-home building-and-garden bathroom-wc-sauna', 'Tehran'}), support=0.0014471798694958473, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home building-and-garden bathroom-wc-sauna'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'for-the-home utensils-and-appliances dishwasher'}), support=0.0014742661237377482, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home utensils-and-appliances dishwasher'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'for-the-home utility repair-tool'}), support=0.0004462782841760813, ordered_statistics=[OrderedStatistic(items_base=frozenset({'for-the-home utility repair-tool'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies animals cat'}), support=0.0006087958096274867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals cat'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies animals rodents-rabbits'}), support=0.0006939240372448894, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies animals rodents-rabbits'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies hobby-collectibles coin-stamp'}), support=0.0005004507926598831, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies hobby-collectibles coin-stamp'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments drums-percussion'}), support=0.00045659685722061494, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments drums-percussion'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments guitar-bass-amplifier'}), support=0.0018147790342073595, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments guitar-bass-amplifier'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments piano-keyboard'}), support=0.0013659211067701448, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments piano-keyboard'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies musical-instruments traditional'}), support=0.0006087958096274867, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies musical-instruments traditional'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure ball-sports'}), support=0.0010047710502114663, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure ball-sports'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure camping-outdoor'}), support=0.0008499924545434612, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure camping-outdoor'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'leisure-hobbies sport-leisure winter-sports'}), support=0.001568423102769118, ordered_statistics=[OrderedStatistic(items_base=frozenset({'leisure-hobbies sport-leisure winter-sports'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'personal baby-and-toys child-car-seat'}), support=0.0013981666475343126, ordered_statistics=[OrderedStatistic(items_base=frozenset({'personal baby-and-toys child-car-seat'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])
RelationRecord(items=frozenset({'Tehran', 'personal jewelry-and-watches rhinestones'}), support=0.0008616008492185616, ordered_statistics=[OrderedStatistic(items_base=frozenset({'personal jewelry-and-watches rhinestones'}), items_add=frozenset({'Tehran'}), confidence=1.0, lift=2.1427809407992924)])

**TASK 2**

In [ ]:
pairs = digikala_dataset[['city_name_fa','ID_Item']]
pairs = pairs.dropna()
list_of_pairs = []
for i in range(len(pairs)):
    list_of_pairs.append([str(pairs.values[i,j]) for j in range(0, 2)])
rules = apriori(list_of_pairs,min_support= 0.01,min_confidence=0.2,min_lift=2,min_length=1)
for rule in rules:
  print(rule)

In [ ]:
pairs = divar_dataset[['created_at','platform']]
pairs = pairs.dropna()
list_of_pairs = []
for i in range(len(pairs)):
    list_of_pairs.append([str(pairs.values[i,j]) for j in range(0, 2)])
rules = apriori(list_of_pairs,min_support= 0.00001,min_confidence=0.2,min_lift=2,min_length=1)
for rule in rules:
  print(rule)

In [ ]:
pairs = divar_dataset[['platform','categories']]
pairs = pairs.dropna()
list_of_pairs = []
for i in range(len(pairs)):
    list_of_pairs.append([str(pairs.values[i,j]) for j in range(0, 2)])
rules = apriori(list_of_pairs,min_support= 0.00001,min_confidence=0.2,min_lift=2,min_length=1)
for rule in rules:
  print(rule)